<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G Clone</title>
</head>
<body>

</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BackStage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar navbar-inverse" style="width: 86%; margin-left: 7%; display: inline-block">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: azure; font-family: 'Comic Sans MS' ">G-Clone</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li><button id="loginButton" class="btn glyphicon glyphicon-log-in btn-danger navbar-btn">  Use G-Stack</button></li>
    </ul>
  </div>
</nav>

<div id="homePage">


    <div class="search-container" style="text-align: center">
        <input type="text" id="address" name="search"  placeholder="Search..">
    </div>

    <br> <br><br>
    <div name="searchContainer" class="search">

    </div>



</div>
</body>

</html>
